{
  "TOKEN": "Nzg0NTg4NTUzNjkzNjkxOTU2.X8rfCA.fm-m6NmU3pdIXe0QP0JQoHB2Sbo",
  "YOUTUBE_API_KEY": "AIzaSyCSRmFVO6PFTQBPRSc9KCOZvWNGkmo3_s8",
  "SOUNDCLOUD_CLIENT_ID": "",
  "MAX_PLAYLIST_SIZE": 10,
  "PREFIX": "/",
  "PRUNING": false,
  "STAY_TIME": 30,
  "DEFAULT_VOLUME": 100
}
